<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="/css/styling.css">
        <script src="js/frontend.js" type="module"></script>
        <link rel="icon" href="img/favicon.ico">
    </head>
    <body id="app">
        <!--Navigation-->
        <div class="w3-bar w3-black">
            <a href="#info" class="w3-bar-item w3-button">Informationen</a>
            <a href="#input" class="w3-bar-item w3-button">Task hinzufügen</a>
            <a href="#cookieUsername" class="w3-bar-item w3-button">Nutzername ändern</a>
            <a href="#output" class="w3-bar-item w3-button">Offene Tasks</a>
        </div>

        <!--Informationsabschnitt-->
        <div id ="info" class="w3-container w3-padding-large">
            <h3>Informationen</h3>
            <div class="w3-container">
                <p class="w3-threequarter">
                    Dies ist eine simple demo einer ToDo-Listen Applikation, welche im Rahmen der MEP für WEBT HS23 entstanden ist. <br>
                    <br>
                    Anleitung: <br>
                    1. Um einen Task hinzuzufügen, muss mindestens das Enddatum und ein Name gesetzt sein. Beschreibung ist optional. <br>
                    2. (optional) Zusätzlich kann ein Nutzername hinterlegt werden, welcher dann beim Task angezeigt wird.<br>
                    3. Die offenen Tasks werden unten angezeigt und können mit einem Klick auf "Abschliessen" beendet werden. <br>
                    3a. Über den offenen Tasks wird eine Auslastungsskala angezeigt, diese bezieht sich auf 16 Aufgaben gleichzeitig.<br>
                    3b. Die Auslastung kann meiner Meinung nach 100% übersteigen und ist daher nicht auf dieses Limitiert.<br>
                    <br>
                    Github: https://github.com/deliodotexe/todo_app <br>
                    Autor: L. Wernli <br>
                </p>
                <img src="img/stickynotes.png" class="w3-quarter">
            </div>

        </div>

        <!--Eingabebereich-->
        <div id="input" class="w3-container w3-padding-large">
            <h3>Task hinzufügen</h3>
            <div class="w3-container w3-row-padding">
                <label for="dueDate">Enddatum:</label>
                <input type="date" id="dueDate" class="w3-input w3-border" v-model="formData.dueDate">

                <input type="text" id="taskName" placeholder="Name" value="" class="w3-input w3-border" v-model="formData.taskName">

                <input type="text" id="taskDesc" placeholder="Beschreibung" value="" class="w3-input w3-border">
                <button class="w3-quarter w3-button w3-border w3-black" @click="submit" :disabled="!isFormValid">Senden</button>
            </div>                
            <p> {{ errorOutput.dueDate }}</p> 
            <p> {{ errorOutput.taskName }}</p>
            <p> {{ errorOutput.addTask }} </p>
        </div>

        <!--Cookie Aufgabe-->
        <div id="cookieUsername" class="w3-container w3-padding-large">
            <h3>Nutzername Ändern</h3>
            <div class="w3-container w3-row-padding">
                <div class="w3-threequarter">
                    <input type="text" id="username" class="w3-input w3-border" placeholder="Name">
                </div>
                <button class="w3-quarter w3-button w3-border w3-black" @click="saveNameInCookie">Senden</button>
            </div>                
        </div>

        <!--Ausgabebereich-->
        <div id="output" class="w3-container w3-padding-large">
            <h3>Offene Tasks</h3>
            <div class="w3-container">
                <canvas id="workLoadCanvas"></canvas>
            </div>
            <p> {{ errorOutput.getTasks }} </p>
            <table class="w3-table w3-bordered w3-striped w3-hoverable">
                <!--Tabellen Legende-->
                <tr>
                    <th>Fertig bis</th>
                    <th>Task Namen</th>
                    <th>Beschreibung</th>
                    <th>Ersteller</th>
                    <th>Abschliessen</th>
                </tr>
                <tr v-for="(task, index) in tasks" :key="index">
                    <td> {{ task.dueDate  }}</td>
                    <td> {{ task.taskName  }}</td>
                    <td> {{ task.taskDesc  }}</td>
                    <td> {{ task.username  }}</td>
                    <td><button @click="finishTask(task)">Abschliessen</button></td>
                </tr>
            </table>
        </div>
    </body>
</html>